@import "tailwindcss";

body {
  @apply bg-gray-100;
}

@keyframes underlinePulse {
  0%   { transform-origin: left;  transform: scaleX(0); }
  25%  { transform-origin: left;  transform: scaleX(1); }

  25.01% { transform-origin: right; transform: scaleX(1); }

  50%  { transform-origin: right; transform: scaleX(0); }

  50.01% { transform-origin: right; transform: scaleX(0); }
  75%    { transform-origin: right; transform: scaleX(1); }

  75.01% { transform-origin: left; transform: scaleX(1); }

  100% { transform-origin: left; transform: scaleX(0); }
}
